<h1>My Addresses</h1>
<%= link_to "Add New Address", new_address_path %>

<% @addresses.each do |address| %>
  <div class="address-card">
    <p><%= address.street %>, <%= address.city %>, <%= address.province %>, <%= address.postal_code %></p>
    <%= link_to "Edit", edit_address_path(address) %> |
    <%= link_to "Delete", address_path(address), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
