<!DOCTYPE html>
<html>
  <head>
    <title>CalidDeBebe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color:#f8f9fa; font-family: 'Inter', sans-serif;">
    <div style="max-width: 1200px; margin: 0 auto; padding: 30px 0;">
      <%= yield %>
    </div>
  </body>
</html>
